/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #131212;
    font-family: 'Oswald', sans-serif;
}

/* bratislava pic */
.logo {

    max-width: 100%;
    
    position: center;
   
    max-height: 100%;
}