/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #131212;
    font-family: 'Oswald', sans-serif;
   
}


.logo,.rules {
    max-width: 100%;
    position: center;
    max-height: 100%;
}
.instructions {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.game-area {
    background-color: #e2e9ed;
    box-sizing: border-box;
    width: 90%;
    height: 700vh;
    max-height: 600px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.button {
    width: 40px;
    height: 40px;
    letter-spacing: 1px;
    color: rgb(27, 14, 14);
}

.btn-all {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 5px solid;
    width: 90px;
    height: 90px;
    font-size: 3rem;
    margin: 5px;
    transition: all 0.5s;
}
footer {
    position: relative;
    bottom: 0;
   
    text-align: center;
    background-color: rgb(168, 227, 247);
    padding: 1em;
    width: 100%;
}
.controls{
    flex: auto;
  width: auto;
  margin-bottom: 20px;
  
  
}
.heading{
    text-align: center;
    font-size: 2.5rem;
}
.score-area{
    margin: auto;
    padding-left: 10px;
    position: center;
    font-size: 2rem;
    background-color: aquamarine;
    width:180px;
    box-sizing: border-box;
}
.msgs {
    margin-top: 20px;
}
.user {
    float: left;
width: 40%;
text-align: center;
}
.npc{
    float: right;
    width: 40%;
    text-align: center;
}

